<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <script src="/static/js/jquery.min.js"></script>
        <script src="//use.typekit.net/rie5vxi.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" href="/static/styles/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        <link rel="stylesheet" href="http://css-spinners.com/css/spinner/whirly.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="navBar"><div id="yakLogo"><img src="/static/img/yak.png" /></div><div id="composeButton" onclick="postYak()"><img src="/static/img/compose.png" /></div></div>
        <div id="loading">
            <div class="whirly">Loading...</div>
        </div>
        <div id="yaks">
        </div>
        <script src="/static/js/bootbox.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>