<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//use.typekit.net/rie5vxi.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" href="/static/styles/style.css">
    </head>
    <body>
        Index Is Running.

        <script>
            $(function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else { 
                    alert("Geolocation is not supported by this browser.");
                }
            });
        
            function showPosition(position) {
                alert("LAT: " + position.coords.latitude + "\nLNG: " + position.coords.longitude);

                $.getJSON('/get_yaks', {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                }, function(data) {
                    console.log(data);
                });
            }
        </script>
    </body>
</html>
