<!DOCTYPE html>
<html>
    <head>
        <title>Location</title>
        <script src="/static/js/jquery.min.js"></script>
        <script src="//use.typekit.net/rie5vxi.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" href="/static/styles/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    </head>
    <body>
        <div id="loc"></div>
        <script src="/static/js/loc.js"></script>
    </body>
</html>
